@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

header .mobile-nav,
h4,
#headline {
  display: flex;
}

header .mobile-nav {
  background-color: #fff;
  justify-content: space-between;
}

header .mobile-nav .toggle {
  background-color: #fff;
  border: none;
  cursor: pointer;
}

header .mobile-nav .container {
  background-color: #6070ff;
  backdrop-filter: blur(1rem);
  opacity: 96%;
  color: #fff;
  position: fixed;
  width: -webkit-fill-available;
  height: 100vh;
  font-weight: 600;
  line-height: 40px;
  font-size: 32px;
  display: flex;
  z-index: 1;
  transition: 0.5s ease-in-out;
}

.container ul {
  list-style: none;
  margin: 5rem 3rem;
}

.container ul li {
  height: 4rem;
}

.container ul li .link {
  color: #fff;
}

.container ul li .link:hover,
.container ul li .link:active {
  color: rgb(216, 236, 255);
}

.container .close {
  background-color: #6070ff;
  color: #fff;
  border: none;
  position: absolute;
  left: 87%;
  top: 5%;
  cursor: pointer;
  font-size: 1.5rem;
}

h4 {
  width: 100%;
  height: 125%;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
  margin: 0.625rem;
  padding-left: 0.5rem;
  animation: rotato 5s alternate ease-in-out 1s;
}

@keyframes rotato {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.mobile-nav a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.fa-bars {
  color: #6070ff;
  position: absolute;
  left: 94%;
  font-size: 1.2rem;
  bottom: 96%;
}

header .desktop-nav {
  display: none;
}

#headline {
  background-image: url("Images/header-m.png");
  background-size: 100% 100%;
  background-position: top left;
  height: 718px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.shapes {
  background-image: url("Images/shapes-m.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-top: 25%;
  padding: 0 5%;
}

.content h1 {
  width: 100%;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  line-height: 52px;
  flex-wrap: wrap;
  color: #172b4d;
  flex: none;
  order: 0;
  animation: Slide 2s infinite ease-out 1s;
}

@keyframes Slide {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(15px);
  }
}

.content p {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.modal-buttons a {
  text-decoration: none;
  font-weight: 500;
  line-height: 20px;
}

.content a {
  text-decoration: none;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.icons {
  order: 4;
  margin-left: -1rem;
}

.icons ul {
  list-style: none;
  display: flex;
}

.icons ul li {
  transition: all 1s ease-out;
}

.align ul li {
  width: fit-content;
  height: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #7a869a;
  margin-left: 1.2rem;
}

.icons ul li:hover {
  transform: scale(1.3);
}

.icons a {
  padding-left: 1.2rem;
}

.content a:hover {
  color: #384bee;
  cursor: pointer;
}

#work {
  display: grid;
  grid-template-columns: repeat(auto-fit, 1fr);
  margin: 20px;
  justify-content: center;
  gap: 2%;
  padding-top: 20%;
}

#work .work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-gap: 10px;
  width: 100%;
  background: #fff;
  border: 1px solid #def1e6;
  box-shadow: 5px 5px 10px 5px  rgb(217, 213, 213, 0.5);
  border-radius: 1rem;
}

.work-card .work-img {
  width: 100%;
}

.work-card .img1 {
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
  transition: all 0.8s ease-in-out;
}

.Modal .img1 {
  width: -webkit-fill-available;
}

.work-card .img1:hover {
  transform: scale(1.05);
}

.work-card .work-detials {
  margin-bottom: 0 !important;
}

.work-card h2 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
  margin-left: 0.2rem;
}

.align {
  width: 100%;
}

.align ul {
  color: #c1c7d0;
  display: flex;
  margin-top: 0.5rem;
}

.align span {
  width: fit-content;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #344563;
  margin-left: 0.4rem;
}

.work-card p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}

.tags {
  width: 100%;
  margin-bottom: 1rem;
}

.tags .hash {
  display: flex;
  list-style: none;
  padding-right: 4.5rem;
  gap: 0.5rem;
  margin-left: 0.2rem;
}

.tags .hash .HTML {
  padding: 4px 12px;
  width: fit-content;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .hash .CSS {
  padding: 4px 12px;
  width: fit-content;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 8px;
  order: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .hash .JavaScript {
  padding: 4px 12px;
  width: fit-content;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
  order: 2;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.submit {
  width: 100%;
}

.submit button {
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 126px;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  display: grid;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-right: 10rem;
  margin-top: 0.6rem;
}

.resume {
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-style: normal;
  margin-top: 1.5rem;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
}

.someter button {
  width: 142px;
  box-sizing: border-box;
  border: 5px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.submit button:hover {
  background-color: #396df2;
  color: #fff;
}

.submit button:active {
  background-color: #1b50d4;
  color: #fff;
}

.submit button:disabled {
  background-color: #fff;
  color: gray;
}

#PopupDetials {
  background-color: transparent;
}

.Modal-bg {
  background-color: rgba(193, 199, 208, 0.8);
  padding: 2rem;
  overflow-y: scroll;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 998;
}

.Modal {
  background-color: #fff;
  height: fit-content;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  right: 0;
  top: 0;
  left: 0;
  align-items: center;
  padding: 1.5rem;
  margin: 0 auto;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
}

.Modal-Title {
  display: flex;
  flex-direction: row;
  gap: 8em;
  width: inherit;
}

.Modal-Title .heading {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  color: #172b4d;
}

.Modal-Title .close-btn {
  background-color: #fff;
  border: none;
}

.Modal .work-img {
  width: -webkit-fill-available;
}

.Modal p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
}

.Modal hr {
  width: 100%;
  color: rgba(193, 199, 208, 0.8);
}

.modal-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.modal-buttons .see-live,
.see-source {
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: max-content;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 0.6rem;
}

.modal-buttons .see-live:hover,
.modal-buttons .see-source:hover {
  background-color: #396df2;
  color: #fff;
}

.modal-buttons .see-live:active,
.modal-buttons .see-source:active {
  background-color: #1b50d4;
  color: #fff;
}

.modal-buttons .see-live:disabled,
.modal-buttons .see-source:disabled {
  background-color: #fff;
  color: gray;
}

#About,
#About .info,
#About .languages ul {
  display: grid;
}

#About {
  margin-top: 75%;
  background-image: url("Images/self.png");
  background-size: cover;
  width: 100%;
  height: fit-content;
}

#About .Aboutcontent {
  padding-top: 5rem;
  margin: 2rem;
}

#About .Aboutcontent h3,
#About .iconsAbout ul {
  display: flex;
}

#About .Aboutcontent h3 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  align-items: center;
  color: #172b4d;
  order: 0;
}

#About .Aboutcontent p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  padding-top: 1.2rem;
  order: 1;
}

#About .Aboutcontent a {
  display: grid;
  height: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #7f8cff;
  text-decoration: none;
  margin-top: 0.8rem;
  order: 2;
}

#About .iconsAbout {
  order: 3;
}

#About .iconsAbout ul {
  list-style: none;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
}

#About .iconsAbout ul li {
  margin-left: 0.1rem;
  transition: all 1s ease-out;
}

#About .iconsAbout ul li:hover {
  transform: scale(1.2);
}

#About .iconsAbout a {
  padding-left: 1.5rem;
}

.resume:hover {
  background-color: #396df2;
  color: #fff;
}

.resume:active {
  background-color: #1b50d4;
  color: #fff;
}

.resume:disabled {
  background-color: #fff;
  color: grey;
}

#About .other h5 {
  height: 1.5rem;
  margin-left: 1.8rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#About .info .inline h5 {
  height: 1.5rem;
  margin-left: 1.8rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
  width: 100%;
}

#About .info .inline .arrow {
  margin-top: 0.4rem;
  margin-right: 2.3rem;
  position: relative;
  left: 87%;
  bottom: 25px;
}

#About .languages ul {
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
}

#About .languages .background {
  width: 90%;
  height: 4.17rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

#About .languages .background .e {
  padding: 0.5rem;
}

#About .background a {
  position: relative;
  left: 2%;
  text-decoration: none;
  bottom: 34%;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: hsl(218, 41%, 25%);
}

#About .other {
  margin-bottom: 14rem;
}

#About .other hr {
  width: 87%;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
  background: #dfe1e6;
}

#About .other img {
  position: relative;
}

#About .other .f {
  padding: 0.60rem;
}

#About .other #toggle_down {
  margin-top: 0.4rem;
  margin-right: 2.3rem;
  position: relative;
  left: 87%;
  bottom: 40px;
}

footer #contact-form {
  margin-top: -3rem;
  display: grid;
  background-image: url("Images/Footer.png");
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 8rem;
}

footer #contact-form .contact-details {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer #contact-form .contact-details h2 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer #contact-form .contact-details p {
  width: 80%;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  display: flex;
  align-items: center;
}

#contact-form .form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form .form input {
  margin-bottom: 15px;
  height: 48px;
  width: 90%;
  background: #fff;
  border: 1px solid #cdd8dc;
  border-radius: 8px;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 5%;
  transition: all 0.5s ease-in-out;
}

#contact-form .form input:hover,
#contact-form .form input:active {
  transform: translateY(5px);
}

#contact-form .form textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  border-radius: 2%;
  font-weight: 400;
  font-size: 1rem;
  outline: none;
  line-height: 24px;
  border: none;
  width: 90%;
  padding: 1rem;
  height: -webkit-fill-available;
  transition: all 0.5s ease-in-out;
}

#contact-form .form textarea:hover,
#contact-form .form textarea:active {
  transform: translateY(5px);
}

.someter button:hover {
  background-color: #396df2;
  color: #fff;
}

.someter button:active {
  background-color: #1b50d4;
  color: #fff;
}

.someter button:disabled {
  background-color: #fff;
  color: rgb(134, 134, 134);
}

#error {
  color: red;
  -webkit-text-stroke: 10px solid #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 1rem;
}

hr {
  margin: 1rem;
}

.arrow-left {
  position: relative;
  left: 88%;
  bottom: 39px;
}

.arrow-down {
  transform: rotate(90deg);
}

#About .languages .visible{
  display: none;
} 

@media only screen and (min-width: 768px) {
  header .mobile-nav {
    display: none;
  }

  header .desktop-nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 72px;
  }

  .content h1 {
    width: 82%;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.37px;
    color: #091e42;
    display: inline-flex;
  }

  .content p {
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
  }

  .content a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    width: auto;
    text-decoration: none;
    color: #7f8cff;
  }

  .content .icons {
    margin-left: -10rem;
  }

  header .desktop-nav a {
    text-decoration: none;
  }

  header .desktop-nav h4 {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    margin-left: 4rem;
    padding-bottom: 2.8rem;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .icons ul {
    margin: 0 9rem;
    display: flex;
    list-style: none;
  }

  .align span,
  .align li {
    font-size: 15px;
  }

  header .desktop-nav ul {
    display: flex;
    list-style: none;
    margin-right: 4rem;
  }

  header .desktop-nav li {
    width: 62px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    color: #344563;
    justify-content: space-between;
    margin: 1.5rem;
  }

  header .desktop-nav a:hover,
  header .desktop-nav a:active {
    color: #1b50d4;
  }

  #headline {
    background-image: url("Images/header-d.png");
    background-size: 100% 100%;
    background-position: top left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .shapes {
    background-size: inherit;
    background-image: url(Images/shapes.png);
    margin: auto;
    height: 90vh;
  }

  .content {
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
    padding-top: 2.5%;
  }

  #work {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
  }

  #work .work-card {
    padding-top: 4.5rem;
    max-width: 1156px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    border: 1px solid rgb(217, 213, 213);
    box-shadow: 5px 5px 10px 5px  rgb(217, 213, 213, 0.5);
    column-gap: 2rem;
  }

  #work .work-card:nth-child(odd) {
    flex-direction: row;
  }

  #work .work-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .work-card .work-detials {
    margin-bottom: 3.5rem !important;
    width: 100%;
  }

  .work-card .img1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -4.6rem;
    display: flex;
  }

  .work-card .img1:hover {
    transform: scale(1.04);
  }

  .work-card .work-detials h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .align ul li {
    margin-left: 1.8rem;
  }

  .work-card .work-detials .align ul {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .work-card .work-detials .align ul span {
    width: fit-content;
    height: 24px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #344563;
  }

  .work-card .work-detials .align ul li {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
    margin-left: 2rem;
  }

  .desktop-pop p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    width: -webkit-fill-available;
    flex-wrap: wrap;
  }

  .work-card .work-detials p {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .work-card .work-detials .tags .hash {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    gap: 1rem;
  }

  .work-card .work-detials .tags .hash .HTML {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    width: fit-content;
    height: 24px;
    background: #ebebff;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
    border-radius: 8px;
    order: 0;
    flex-grow: 0;
  }

  .work-card .work-detials .tags .hash .CSS {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    width: fit-content;
    height: 24px;
    background: #ebebff;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
    border-radius: 8px;
    order: 1;
    flex-grow: 0;
  }

  .work-card .work-detials .tags .hash .JavaScript {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 14px;
    width: fit-content;
    height: 24px;
    background: #ebebff;
    color: #6070ff;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.03em;
    border-radius: 8px;
    order: 2;
    flex-grow: 0;
  }

  .resume {
    box-sizing: border-box;
    width: 30%;
    padding: 12px;
    margin-top: 1.5rem;
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    margin-right: 10rem;
  }

  .someter button {
    width: 135px;
    box-sizing: border-box;
    height: 48px;
    border: 5px solid #6070ff;
    border-radius: 8px;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: #396df2;
    display: flex;
    align-items: center;
  }

  .resume:hover {
    background-color: #396df2;
    color: #fff;
  }

  .resume:active {
    background-color: #1b50d4;
    color: #fff;
  }

  .resume:disabled {
    background-color: #fff;
    color: grey;
  }

  .Modal {
    background-color: #fff;
    height: fit-content;
    width: 80%;
    border-radius: 1rem;
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    align-items: center;
    padding: 2rem;
    margin: 0 auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .Modal-Title {
    width: 100%;
  }

  .Modal-Title .heading {
    font-size: 40px;
  }

  .Modal .desktop-pop {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .desktop-pop .deskpop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .tags {
    margin-bottom: 1rem;
  }

  #About .Aboutcontent .resume {
    margin-top: 1rem;
    width: max-content;
    order: 5;
  }

  #work .work-card-2 {
    height: 496px;
    width: 90%;
    flex-direction: row-reverse;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(217, 213, 213);
    box-shadow: 5px 5px 10px 5px  rgb(217, 213, 213, 0.5);
  }

  #About {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    background-image: url("Images/self-desktop1.png");
    background-size: cover;
    width: 100%;
    height: auto;
  }

  #About .center {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  #About .Aboutcontent {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    padding-left: 3rem;
  }

  #About .Aboutcontent h3 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3.25rem;
    align-items: center;
    color: #172b4d;
    order: 0;
  }

  #About .Aboutcontent p {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #344563;
    padding-top: 1.2rem;
    padding-bottom: 1rem;
    order: 1;
  }

  #About .Aboutcontent a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #7f8cff;
    text-decoration: none;
    margin-top: -0.2rem;
    order: 2;
  }

  #About .iconsAbout ul {
    display: flex;
    list-style: none;
    order: 3;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  #About .iconsAbout a {
    padding-left: 1.5rem;
  }

  #About .info {
    display: flex;
    flex-direction: column;
    margin-top: 7rem;
    width: 50%;
    flex-wrap: wrap;
    padding-right: 3rem;
  }

  #About .other h5 {
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    color: #344563;
  }

  #About .inline h5 {
    color: #344563;
    font-weight: 650;
    font-size: 1.25rem;
  }

  #About .info .inline .arrow {
    margin-top: 0.4rem;
    margin-right: 2.3rem;
    position: relative;
    bottom: 25px;
  }

  #About .languages ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0.8rem;
    flex-wrap: wrap;
  }

  #About .languages .background {
    width: 110px;
    height: 7rem;
    background: #f7f7f9;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }

  #About .languages .background .e {
    padding: 0.5rem;
  }

  #About .background a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: hsl(218, 41%, 25%);
  }

  #About .info .languages .js {
    margin: 0.7rem;
    position: inherit;
  }

  #About .info .languages .background .html,
  #About .info .languages .background .css {
    display: block;
    position: inherit;
    margin-left: 0.9rem;
  }

  #About .other {
    position: relative;
    top: 2rem;
  }

  #About .other img {
    margin-top: 0.4rem;
    margin-right: 2.5rem;
    position: relative;
    bottom: 37px;
  }

  footer #contact-form {
    margin-top: -5rem;
    padding: 2rem;
    display: grid;
    background-image: url("Images/Footer_Desktop.png");
    background-size: cover;
    width: 100%;
    height: auto;
  }

  footer #contact-form .form-information {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer #contact-form .form-information h2 {
    height: 56px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  footer #contact-form .contact-details p {
    width: 569px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    display: flex;
    align-items: center;
    margin-top: -1.1rem;
    margin-bottom: 3rem;
  }

  #contact-form .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1rem;
  }

  #contact-form .form input {
    margin-bottom: 15px;
    height: 48px;
    width: 456px;
    background: #fff;
    border: 1px solid #cdd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #172b4d;
    padding-left: 5%;
  }

  #contact-form .form textarea {
    padding-left: 4%;
    padding-top: 4%;
    height: 200px;
    width: 456px;
    border-radius: 2%;
    border: 1px solid #cdd8dc;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  #contact-form .form .someter button {
    padding-left: 8px;
  }

  #About .languages .background .f {    
    position: static;
    padding: 0.5rem;
  }

  .Modal .work-img {
    display: contents;
  }
  .Modal .img1 {
    width: 50%;
  }
}

