@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

main {
  width: 375px;
  height: auto;
  overflow-x: hidden;
}

header .mobile-nav,
h4,
#headline,
.content h1 {
  display: flex;
}

header .mobile-nav {
  background-color: #fff;
  justify-content: space-between;
}

h4 {
  width: 100%;
  height: 125%;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #6070ff;
  margin: 0.625rem;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.fa-bars {
  color: #6070ff;
  margin: 0.625rem;
  padding-right: 0.5rem;
}

#headline {
  background-image: url("Images/header.png");
  background-size: 375px;
  height: 718px;
  background-repeat: no-repeat;
  flex-direction: column;
}

.content h1 {
  padding-top: 9.5rem;
  padding-left: 2rem;
  width: 100%;
  font-style: normal;
  font-weight: 1000;
  font-size: 40px;
  line-height: 52px;
  flex-wrap: wrap;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
}

.content p {
  display: block;
  padding: 1rem 0.5rem 1rem 2rem;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.content a {
  text-decoration: none;
  width: 100%;
  margin-left: 2rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icons {
  padding-top: 1rem;
  padding-left: 1rem;
}

.icons ul {
  list-style: none;
  display: flex;
}

.icons a {
  padding-left: 1.2rem;
}

.content a:hover {
  color: #384bee;
  cursor: pointer;
}

#work {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 20px;
  padding-top: 5rem;
}

#work .work-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-gap: 10px;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #def1e6;
  border-radius: 1rem;
}

.work-card .img1 {
  width: 100%;
  height: 220px;
  border-radius: 0.5rem;
}

.work-card h2 {
  width: 100%;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
  margin-left: 0.2rem;
}

.work-card .align {
  width: 100%;
}

.work-card .align ul {
  color: #c1c7d0;
  display: flex;
  margin-top: 0.5rem;
}

.work-card .align span {
  width: 55px;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #344563;
  margin-left: 0.4rem;
}

.work-card .align ul li {
  width: 88px;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #7a869a;
  justify-content: space-between;
  margin-left: 2rem;
}

.work-card p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0.5rem;
}

.tags {
  width: 100%;
}

.tags .hash {
  display: flex;
  list-style: none;
  padding-right: 4.5rem;
  gap: 0.5rem;
  margin-left: 0.2rem;
}

.tags .hash .HTML {
  padding: 4px 12px;
  width: 57px;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .hash .CSS {
  padding: 4px 12px;
  width: 49px;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 8px;
  order: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.tags .hash .JavaScript {
  padding: 4px 12px;
  width: 92px;
  height: 1.5rem;
  background: #ebebff;
  border-radius: 0.5rem;
  order: 2;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1rem;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.submit {
  width: 100%;
}

.submit button {
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
  width: 126px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 0.5rem;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  display: grid;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-right: 10rem;
  margin-top: 0.6rem;
}

.resume button {
  box-sizing: border-box;
  padding: 12px;
  margin-left: 1.5rem;
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-right: 10rem;
  margin-top: 1.5rem;
}

.someter button {
  width: 142px;
  box-sizing: border-box;
  height: 50px;
  border: 5px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.submit button:hover {
  background-color: #396df2;
  color: #fff;
}

.submit button:active {
  background-color: #1b50d4;
  color: #fff;
}

.submit button:disabled {
  background-color: #fff;
  color: gray;
}

.work-card-2 {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

#work .work-card-2 {
  align-items: center;
  padding: 1rem;
  gap: 12px;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
}

.work-card-2 .img2 {
  width: 100%;
  height: 220px;
  border-radius: 8px;
}

.work-card-2 .desktop-img-2 {
  display: none;
}

.work-card-2 h2 {
  width: 100%;
  height: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: #172b4d;
  margin-left: 0.2rem;
}

.work-card-2 .align {
  width: 100%;
}

.work-card-2 .align ul {
  color: #c1c7d0;
  display: flex;
  margin-top: 1.8rem;
}

.work-card-2 .align span {
  width: 55px;
  height: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  margin-left: 0.4rem;
}

.work-card-2 .align ul li {
  width: 88px;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #7a869a;
  justify-content: space-between;
  margin-left: 2rem;
}

.work-card-2 p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0.5rem;
}

.work-card-3 {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

#work .work-card-3 {
  align-items: center;
  padding: 1rem;
  gap: 12px;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1rem;
}

.work-card-3 .img3 {
  width: 100%;
  height: 13.75rem;
  border-radius: 0.5rem;
}

.work-card-3 h2 {
  width: 100%;
  height: 36px;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 44px;
  color: #172b4d;
  margin-left: 0.2rem;
}

.work-card-3 .align {
  width: 100%;
}

.work-card-3 .align ul {
  color: #c1c7d0;
  display: flex;
  margin-top: 0.5rem;
}

.work-card-3 .align span {
  width: 55px;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #344563;
  margin-left: 0.4rem;
}

.work-card-3 .align ul li {
  width: 5.5rem;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #7a869a;
  justify-content: space-between;
  margin-left: 2rem;
}

.work-card-3 p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0.5rem;
}

.work-card-4 {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

#work .work-card-4 {
  align-items: center;
  padding: 1rem;
  gap: 12px;
  width: 100%;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.work-card-4 .img4 {
  width: 100%;
  height: 13.75rem;
  border-radius: 8px;
}

.work-card-4 h2 {
  width: 100%;
  height: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 2rem;
  color: #172b4d;
  margin-left: 0.2rem;
}

.work-card-4 .align {
  width: 100%;
}

.work-card-4 .align ul {
  color: #c1c7d0;
  display: flex;
  margin-top: 1.8rem;
}

.work-card-4 .align span {
  width: 55px;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #344563;
  margin-left: 0.4rem;
}

.work-card-4 .align ul li {
  width: 5.5rem;
  height: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1rem;
  color: #7a869a;
  justify-content: space-between;
  margin-left: 2rem;
}

.work-card-4 p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-left: 0.5rem;
}

#About,
#About .info,
#About .languages ul {
  display: grid;
}

#About {
  margin-top: 6rem;
  background-image: url("Images/self.png");
  background-size: cover;
  width: 100%;
  height: 1280px;
}

#About .Aboutcontent {
  padding-top: 5rem;
  margin: 2rem;
}

#About .Aboutcontent h3,
#About .iconsAbout ul {
  display: flex;
}

#About .Aboutcontent h3 {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  align-items: center;
  color: #172b4d;
}

#About .Aboutcontent p {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #344563;
  padding-top: 1.2rem;
}

#About .Aboutcontent a {
  height: 1.5rem;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: #7f8cff;
  position: absolute;
  margin-top: 1.4rem;
}

#About .iconsAbout {
  margin-top: 2.5rem;
  margin-left: -2rem;
}

#About .iconsAbout ul {
  list-style: none;
  margin-left: 0.5rem;
  gap: 2rem;
}

#About .iconsAbout a {
  padding-left: 1.5rem;
}

.resume {
  margin-top: 3rem;
}

.resume button:hover {
  background-color: #396df2;
  color: #fff;
}

.resume button:active {
  background-color: #1b50d4;
  color: #fff;
}

.resume button:disabled {
  background-color: #fff;
  color: grey;
}

#About .info {
  grid-template-rows: repeat(1, 1fr);
  margin-top: -9rem;
}

#About .other h5 {
  height: 1.5rem;
  margin-left: 2.5rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

#About .info .inline h5 {
  height: 1.5rem;
  margin-left: 2.5rem;
  font-style: normal;
  font-weight: 650;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #000;
}

#About .info .inline .arrow {
  margin-top: 0.4rem;
  margin-right: 2.3rem;
  position: relative;
  left: 310px;
  bottom: 25px;
}

#About .languages ul {
  grid-template-rows: repeat(3, 1fr);
  list-style: none;
}

#About .languages .background {
  width: 80%;
  height: 4.17rem;
  background: #f7f7f9;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-left: 2.3rem;
}

#About .languages .background .e {
  padding: 0.5rem;
}

#About .background a {
  position: relative;
  left: 6px;
  bottom: 28px;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25rem;
  color: hsl(218, 41%, 25%);
}

#About .other {
  margin-bottom: 6rem;
  margin-top: -8rem;
}

#About .other hr {
  width: 80%;
  margin-left: 2.3rem;
  background: #dfe1e6;
}

#About .other img {
  margin-top: 0.4rem;
  margin-right: 2.5rem;
  position: relative;
  left: 310px;
  bottom: 37px;
}

footer #contact-form {
  margin-top: -3rem;
  display: grid;
  background-image: url("Images/Footer.png");
  background-size: cover;
  width: 100%;
  height: 779px;
  overflow-x: hidden;
}

footer #contact-form .contact-details {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer #contact-form .contact-details h2 {
  height: 56px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

footer #contact-form .contact-details p {
  width: 327px;
  height: 137px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  display: flex;
  align-items: center;
}

#contact-form .form {
  margin-top: 1rem;
  margin-left: 10%;
}

#contact-form .form input {
  margin-bottom: 15px;
  height: 48px;
  width: 300px;
  background: #fff;
  border: 1px solid #cdd8dc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
  padding-left: 5%;
}

#contact-form .form .container {
  padding-left: 5%;
  padding-top: 5%;
  height: 200px;
  width: 90%;
  border-radius: 2%;
  border: 1px solid #cdd8dc;
  background-color: #fff;
}

#contact-form .form .container textarea {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  border: none;
  width: 264px;
  height: 171px;
}

.someter button:hover {
  background-color: #396df2;
  color: #fff;
}

.someter button:active {
  background-color: #1b50d4;
  color: #fff;
}

.someter button:disabled {
  background-color: #fff;
  color: rgb(134, 134, 134);
}
